<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Lightweight</title>
</head>
<body>
    <h1>Bienvenido a Lightweight</h1>
    <p>Hola, [[${firstName}]] [[${lastName}]]</p>
    <p>¡Gracias por registrarte en Lightweight! Nos alegra mucho tenerte como parte de nuestra comunidad de compras en línea.</p>
    <p>Aquí hay algunas características destacadas que podrás disfrutar con tu nueva cuenta:</p>
    <ul>
        <li>Explora nuestra amplia selección de productos.</li>
        <li>Realiza la compra de tu suscripción al gimnasio.</li>
        <li>Accede a ofertas exclusivas, descuentos especiales y otros beneficios.</li>
    </ul>
    <p>Para comenzar a explorar, simplemente inicia sesión en tu cuenta utilizando tu correo electrónico y la contraseña que has elegido durante el proceso de registro.</p>
    <p>¡Gracias por elegirnos y esperamos que disfrutes de tu experiencia de compra en Lightweight!</p>
    <p>¡Felices compras!</p>
    <p>El equipo de Lightweight</p>
</body>
</html>